button {
  position: relative;
  display: inline-block;
  align-self: center;
  cursor: pointer;
  background-color: $form-background-color;
  background-image: none;
  outline: none;
  box-shadow: none;
  transition: all 235ms ease 0s;
  transition: all 235ms ease-in-out 0s;
}

button::before,
button::after {
  position: absolute;
  content: "";
  transition: all 250ms ease-out;
}

button::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, .5);
}

button:hover::before {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1) inset;
}

button:active::before {
  border-color: $active-border-color;
  box-shadow: 0 1px 4px rgba(15, 15, 15, .3), 0 0 40px rgba(128, 128, 128, .1) inset;
}

button:focus::before {
  border-color: $focus-color;
}
